@{
    ViewData["Title"] = "Agradecemos sua visita";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento por Visitar nosso Site Gamer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            color: #333;
            line-height: 1.6;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Obrigado por visitar nosso site gamer! Esperamos que você tenha desfrutado da sua experiência aqui, explorando os últimos lançamentos, descobrindo dicas e truques para seus jogos favoritos e mergulhando na cultura vibrante dos games. Estamos sempre atualizando nosso conteúdo para proporcionar a você a melhor experiência de gaming possível. Continue nos acompanhando para ficar por dentro das novidades, análises e eventos emocionantes do mundo dos jogos. Esperamos vê-lo novamente em breve!</p>
    </div>
</body>
</html>
